.treinosWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.avancarWrapper {
  display: flex;
  justify-content: center;
  height: 5rem;
}

.user h2 {
  margin-top: 5.125rem;
}

.avancar {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
